bar/bar.xcodeproj/xcuserdata/bboral.xcuserdatad/xcschemes/bar.xcscheme
bar/bar.xcodeproj/project.xcworkspace/xcshareddata/
bar/bar.xcodeproj/project.xcworkspace/xcuserdata/
bar/bar.xcodeproj/xcuserdata/bboral.xcuserdatad/xcschemes/xcschememanagement.plist
